pkgbase = fastflowlm-gtk
	pkgdesc = A minimalist, modern desktop interface for FastFlowLM, built with GTK 4 and Libadwaita.
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/marleylinux/FastFlowLM-GTK
	install = fastflowlm-gtk.install
	arch = any
	license = MIT
	makedepends = imagemagick
	depends = python
	depends = python-gobject
	depends = gtk4
	depends = libadwaita
	depends = libsoup3
	depends = gtksourceview5
	depends = python-psutil
	depends = fastflowlm
	depends = xrt-plugin-amdxdna
	source = com.marley.FastFlowLM-gtk.desktop
	source = flm-gtk.webp
	source = app.py
	source = main.py
	source = flm.py
	source = utils.py
	source = ui.py
	source = sessions.py
	source = network.py
	source = theme.py
	source = handlers.py
	source = models.py
	source = display.py
	source = init_gi.py
	source = llama.png
	source = qwen.png
	source = gemini.png
	source = mistral.png
	source = phi.png
	source = deepseek.png
	source = liquid.png
	source = whisper.png
	source = nanbeige.png
	source = gpt_oss.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = fastflowlm-gtk
